<section id="showcase-register">

    <div class="container-register">

        <form id="form" , class="form" action="/login" method="POST">
            <h2>Please log in</h2>

            <div class="registration-control">
                <label for="email">Email Address</label>
                <input
                    type="text"
                    id="email"
                    placeholder="Enter Email"
                    name="email"
                />
                <small>Error Message</small>
            </div>
            <div class="registration-control">
                <label for="password">Password</label>
                <input
                    type="text"
                    id="password"
                    placeholder="Enter Password"
                    name="password"
                />
                <small>Error Message</small>
            </div>
            <button type="submit" name="submitButton">LOGIN</button>
        </form>

    </div>
</section>