<section>
    <!-- Header:Showcase -->
    <header id="showcase-thanks">
        <div class="showcase-content-thanks">
            <h1 class="l-heading">
                Thank you for signing our Petition
            </h1>
            <div>

                {{#records}}
                    <div><h4>{{firstname}}
                            {{lastname}}
                        </h4></div>
                {{/records}}
            </div>

        </div>
    </header>

</section>