<section>

    <!-- Header:Showcase -->
    <header id="showcase-thanks">
        <div class="showcase-content-thanks">
            <h1 class="l-heading">

                Thank you for signing our Petition
            </h1>

            <div>
                <a href="/signers" class="l-heading">See all the
                    {{signatories}}
                    signers</a>

            </div>
            <div>
                <img src={{currentSignature}} alt="" />
            </div>

        </div>
    </header>

</section>