<section id="showcase-register">

    <div class="container-register">

        <form id="form" , class="form" action="/userprofile" method="POST">
            <h2>Tell Us More About yourself</h2>

            <div class="registration-control">
                <label for="age">Age</label>
                <input
                    type="text"
                    id="age"
                    placeholder="Enter Age"
                    name="age"
                />
                <small>Error Message</small>
            </div>

            <div class="registration-control">
                <label for="city">City</label>
                <input
                    type="text"
                    id="city"
                    placeholder="Enter City"
                    name="city"
                />
                <small>Error Message</small>
            </div>
            <div class="registration-control">
                <label for="homepage">Homepage</label>
                <input
                    type="text"
                    id="homepage"
                    placeholder="Enter Homepage"
                    name="homepage"
                />
                <small>Error Message</small>
            </div>
            <button type="submit" name="submitButton">UPDATE</button>
        </form>

    </div>
</section>