<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="./style.css" />
        <script defer src="./main.js" type="text/javascript"></script>

        <title>sign petition to keep kids healthy</title>
    </head>
    <body>
        <!-- Navbar -->
        <nav id="navbar">
            <h1 id="logo">
                <span class="text-primary">
                    <a href="/petition">
                        Healthy Kids
                    </a>
                </span>

            </h1>
            <ul>
                <li><a href="/petition">Home</a></li>
                <li><a href="/profile/edit">Profile</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>

                <li><a href="/signers">Signees</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>

        <main>
            {{{body}}}
        </main>
        <footer id="main-footer" class="bg-dark text-center py-1">
            <div class="container">
                <p>Copyright &copy; 2022, HealthyKids, All Rights Reserved</p>
            </div>
        </footer>
    </body>
</html>